[project]
	description = Vital Connections Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Toan Quach (toanqc)
[access "refs/for/refs/*"]
	read = group user/Toan Quach (toanqc)
	push = group user/Toan Quach (toanqc)
	label-Code-Review = -2..+2 group user/Toan Quach (toanqc)
	label-Verified = -1..+1 group user/Toan Quach (toanqc)
	rebase = group user/Toan Quach (toanqc)
	removeReviewer = group user/Toan Quach (toanqc)
	submit = group user/Toan Quach (toanqc)
[access "refs/heads/*"]
	read = group user/Toan Quach (toanqc)
	create = group user/Toan Quach (toanqc)
	push = +force group user/Toan Quach (toanqc)
	pushMerge = group user/Toan Quach (toanqc)
[access "refs/tags/*"]
	push = +force group user/Toan Quach (toanqc)
	pushTag = group user/Toan Quach (toanqc)
	pushSignedTag = group user/Toan Quach (toanqc)
